$ff-sans: 'Poppins', sans-serif;

$fw-light: 200;
$fw-normal: 400;
$fw-bold: 600;

$fs-300: 1.2rem;
$fs-400: 1.5rem;
$fs-600: 2rem;
$fs-900: 3.5rem;

$clr-neutral-100: hsl(0, 0%, 98%);
$clr-neutral-400: hsl(229, 6%, 66%);
$clr-neutral-900: hsl(234, 12%, 34%);

$clr-red: hsl(0, 78%, 62%);
$clr-cyan: rgb(69, 211, 211);
$clr-orange: hsl(34, 97%, 64%);
$clr-blue: hsl(212, 86%, 64%);

